main {
  display: flex;
  margin-left: 250px;
  margin-left: -85px;
}

.box__inner {
  max-width: 200px;
  padding-top: 20px;
}

.box {
  display: flex;
}


.navbar__link-btn {
  max-width: 200px;
  border: 2px solid rgba(29, 155, 240, 1);
  background: none;
  cursor: pointer;
  font-family: "montserrat",sans-serif;
  transition: color 0.4s linear;
  padding: 9px 60px;
  border-radius: 25px;
  margin-top: 20px;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: rgba(29, 155, 240, 1);
}


.navbar__link-btn:hover {
  color: #fff;
}

.navbar__link-btn::before {
  position: absolute;
  left: 3px;
  top: 2px;
  border-radius: 25px;
  width: 164px;
  height: 38px;
  content: "";
  background-color: rgba(29, 155, 240, 1);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
}

.btn-1::before {
  transform: scaleY(0);
}

.btn-1:hover::before {
  transform: scaleY(1);
}

.box__inner-box-2 {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.hero__inner-spn {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  padding-left: 10px;
  position: relative;
}

.hero__inner-spn::before {
  position: absolute;
  top: 11px;
  left: 120px;
  width: 17px;
  height: 4px;
  background-image: url("../img/Vector\(10\).svg");
  background-repeat: no-repeat;
  content: "";
}


.hero__inner-spn-1 {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
  padding-left: 10px;
}