.site-main {
  display: block;
}

.qwer {
  padding-left: 25px;
}


.hero {
  max-width: 851px;
  padding: 5px 0 20px 0;
  margin-left: auto;
  margin-right: auto;
}




.hero__inner {
  max-width: 577px;
  padding-top: 32px;
  padding: 15px 0 20px 0;
  padding-left: 33px;
  display: flex;
  align-items: center;
}  

.hero__box {
  margin-top: -12px;
  padding-left: 16px;
}

.hero__strong {
  display: block;
}

.hero__spn {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
  display: block;
}


.hero__img-bobur {
  margin-top: -10px;
}

.hero__img {
  display: block;
  cursor: pointer;
  margin-left: -15px;
  transition: all 0.5s ease;
}

.hero__img:hover {
  transform: scale(1.2);
}

.hero__btn {
  background-color: transparent;
  border: none;
}

.hero__img-personal {
  margin-top: -82px;
  margin-left: 20px;
}

.hero__btn-edit {
  position: relative;
  top: -26px;
  margin-left: 532px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #242424;
  background-color: transparent;
  border-radius: 25px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border: 2px solid rgb(139, 139, 139);
}

.hero__btn-edit:hover {
  background-color: #dbdbdb;
}


.hero__box-2 {
  padding: 0 25px;
}

.hero__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin: 0;
}

.hero__spn-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
}

.hero_text-abutech {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.hero_text-abutech-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1DA1F2;
}

.hero__spn-lokatsiya {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  position: relative;
  padding-left: 21px;
}

.hero__spn-lokatsiya::before {
  background-image: url("../img/Group.svg");
  background-repeat: no-repeat;
  content: "";
  width: 18px;
  height: 20px;
  position: absolute;
  left: 0;
}

.hero__link-bobur {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1DA1F2;
  position: relative;
  padding-left: 47px;
}

.hero__link-bobur::before {
  position: absolute;
  top: 2px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../img/Group\(2\).svg");
  background-repeat: no-repeat;
  content: "";
}

.hero__span-yil {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  padding-left: 39px;
  position: relative;
}

.hero__span-yil::before {
  position: absolute;
  top: 2px;
  left: 15px;
  width: 18px;
  height: 20px;
  background-image: url("../img/Group\(3\).svg");
  background-repeat: no-repeat;
  content: "";
  opacity: 0.6;
}

.hero__spn-kun {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  padding-left: 53px;
  position: relative;
}

.hero__spn-kun::before {
  position: absolute;
  width: 21px;
  height: 20px;
  background-image: url("../img/Group1.svg");
  background-repeat: no-repeat;
  content: "";
  top: 2px;
  left: 25px;
}

.hero__class {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  padding-left: 5px;
}

.hero__class-strong {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.qwerty {
  display: flex;
}

.hero__class-strongg {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-left: 25px;
}




.hero__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid rgb(184, 184, 184);
  max-width: 850px;
  margin-top: 20px;
  position: relative;
}

.hero__list::before {
  position: absolute;
  left: 0;
  top: -648px;
  content: "";
  height: 1021px;
  border-left: 1px solid rgb(182, 182, 182);
  border-right: 1px solid rgb(182, 182, 182);
  background-color: rgb(182, 182, 182);
}

.hero__list::after {
  position: absolute;
  left: 849px;
  top: -679px;
  content: "";
  height: 1056px;
  border-left: 1px solid #b6b6b6;
  border-right: 1px solid #b6b6b6;
  background-color: #b6b6b6;
}




.hero__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}



.hero__item:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border-bottom: 5px solid #1DA1F2;
  padding-bottom: 10px;
  border-radius: 3px;
}



.hero__box-reference {
  padding: 15px 25px;
  border-bottom: 2px solid rgb(201, 200, 200);
  max-width: 850px;
}


.hero__box-pinned {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #536471;
  padding-left: 60px;
}

.hero__box-1 {
  margin-top: 15px;
  display: flex;
}

.hero__text-name {
  max-width: 280px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  display: flex;
  margin: 0;
}

.hero__spn-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6; 
  padding-left: 10px;
  display: flex;
  align-items: center;
}


.hero__box-zamitka {
  margin-left: 20px;
}

.hero__text-bobor {
  max-width: 690px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-top: 5px;
}

.hero__item-2 {
  max-width: 800px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}

.hero__list-img-sms {
  transition: all 0.5s ease;
}

.hero__list-img-sms:hover {
  transform: scale(1.2);
  cursor: pointer;
  filter: invert(57%) sepia(85%) saturate(531%) hue-rotate(29deg) brightness(102%) contrast(123%);
}


.hero__list-img-green {
  transition: all 0.5s ease;
}

.hero__list-img-green:hover {
  cursor: pointer;
  filter: invert(77%) sepia(95%) saturate(364%) hue-rotate(69deg) brightness(85%) contrast(89%);
  transform: scale(1.2);
}

.hero__list-img {
  transition: all 0.5s ease;
}
.hero__list-img:hover {
  cursor: pointer;
  transform: scale(1.2);
  filter: invert(17%) sepia(80%) saturate(6662%) hue-rotate(357deg) brightness(95%) contrast(113%);
}

.hero__list-2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #0CB345;
}

.hero__imgg {
  margin-top: 20px;
}

.hero__item-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(187, 187, 187);
}



.menu-list {
  width: 600px;
  position: fixed;
  bottom: 0;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  display: none;
}

.menu__list-img {
  transition: all 0.5s ease;
}

.menu__list-img:hover {
  transform: scale(1.2);
  filter: invert(42%) sepia(40%) saturate(4744%) hue-rotate(337deg) brightness(97%) contrast(90%);
}


.hero__hero {
  max-width: 400px;
}

@include breakpoint-down(1458px) {
  .box__inner {
    margin-left: 125px;
  }
  .form {
    display: none;
  }

  .hero {
    margin-left: 100px;
  }
}

@include breakpoint-down(1242px) {
  .menu-list {
    width: 847px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 2px;
    display: flex;
}
  .box__inner {
    display: none;
  }
}

@include breakpoint-down(953px) {
  .menu-list {
    width: 738px;
  }
  .hero__img-bobur {
    width: 740px;
  }
  
  .hero__btn-edit {
    margin-left: 400px;
  }
  .hero__list::after {
    position: absolute;
    left: 740px;
  }
  .hero__list {
    max-width: 740px;
  }

  .hero__spn-kun {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
    padding-left: 30px;
    margin-top: 10px;
    display: block;
    position: relative;
  }
  .hero__spn-kun::before {
    position: absolute;
    width: 21px;
    height: 20px;
    background-image: url("../img/Group1.svg");
    background-repeat: no-repeat;
    content: "";
    top: 2px;
    left: 0px;
  }

  .hero {
    margin-left: 160px;
  }
  .hero__text-bobor {
    max-width: 632px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-top: 5px;
  }

  .hero__box-reference {
    padding: 15px 25px;
    border-bottom: 2px solid #c9c8c8;
    max-width: 741px;
  }

}

@include breakpoint-down(916px) {
  .hero__img-bobur {
    width: 640px;
    height: auto;
  }

  .hero__btn-edit {
    margin-left: 300px;
  }

  .hero__list::after {
    position: absolute;
    left: 640px;
  }
  .hero__list {
    max-width: 642px;
  }
  .hero__text-bobor {
    max-width: 542px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    margin-top: 5px;
  }
  .hero__item-2 {
    max-width: 600px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  } 
  .hero__box-reference {
    padding: 15px 25px;
    border-bottom: 2px solid #c9c8c8;
    max-width: 640px;
  }
  .hero__imgg {
    width: 446px;
    height: auto;
    margin-top: 20px;
  }
  .menu-list {
    width: 535px;
    height: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-left: 57px;
  }
  .hero {
    margin-left: 213px;
  }
}

@include breakpoint-down(837px) {
  .hero {
    margin-left: 189px;
  }

  .hero__img-bobur {
    width: 584px;
    height: auto;
  }
  .hero__img-personal {
    width: 105px;
    height: auto;
  }
  .hero__btn-edit {
    margin-left: 300px;
    margin-top: 29px;
  }   
  .hero__list::after {
    position: absolute;
    left: 584px;
  } 
  .hero__spn-lokatsiya {
    font-size: 17px;
  }
  .hero__link-bobur {
    font-size: 17px;
  }
  .hero__span-yil {
    padding-left: 19px;
    font-size: 17px;
  } 
  .hero__link-bobur::before {
    display: none;
  }
  .hero__link-bobur {
    padding-left: 21px;
  }
  .hero__span-yil::before {
    display: none; 
  }
  .hero__hero {
    max-width: 553px;
  }
  .hero__spn-kun {
    font-size: 17px;
  }
  .hero__list {
    max-width: 584px;
  }
  .hero__item-2 {
    max-width: 528px;
  }
  .hero__box-reference {
    padding: 15px 25px;
    border-bottom: 2px solid #c9c8c8;
    max-width: 583px;
  }
  .hero__imgg {
    width: 368px;
    height: auto;
    margin-top: 20px;
  }
  .hero__text-bobor {
    max-width: 542px;
    font-size: 17px;
  } 
  .hero__item {
    font-size: 17px;
  }
  .hero__btn-edit {
    margin-left: 300px;
    margin-top: 29px;
    font-size: 14px;
    padding: 6px 10px;
  }
  .hero__spn-name {
    font-size: 17px;
  }
  .menu-list {
    width: 582px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 2px;
  }
  .hero__text {
    font-size: 22px;
  }
}

@include breakpoint-down(743px) {
  .hero {
    margin-left: 163px;
  }
  .hero__box-2 {
    padding: 3px 23px;
    width: 565px;
  }
}

@include breakpoint-down(710px) {
  .hero {
    margin-left: 145px;
  }
}

@include breakpoint-down(687px) {
  .hero {
    margin-left: 125px;
  }
}

@include breakpoint-down(675px) {
  .hero {
    margin-left: 112px;
  }
}

@include breakpoint-down(654px) {
  .hero {
    margin-left: 135px;
  }   
  .hero__img-bobur {
    width: 527px;
    height: auto;
  }
  .hero__img-personal {
    width: 99px;
    height: auto;
  }
  .hero__list::after {
    position: absolute;
    left: 527px;
  }
  .hero__spn-lokatsiya::before {
    display: none;
  }
  .hero__spn-lokatsiya {
    padding-left: 0px;
  }
  .hero__link-bobur {
    padding-left: 13px;
  }
  .hero__span-yil {
    padding-left: 13px;
    font-size: 17px;
  }
  .hero__box-2 {
    padding: 3px 23px;
    width: 546px;
  }
  .hero__box-reference {
    padding: 15px 25px;
    border-bottom: 2px solid #c9c8c8;
    max-width: 528px;
  }
  .menu-list {
    max-width: 525px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 2px;
  }
  .hero__list {
    max-width: 527px;
  }
  
}

@include breakpoint-down(647px) {
  .hero__text-bobor {
    font-size: 16px;
    max-width: 337px;
    padding-top: 6px;
    margin-left: 0px;
  } 
  .hero__img-bobur {
    width: 468px;
    height: auto;
  }
  .hero__img-personal {
    width: 91px;
    height: auto;
  }
  .hero__btn-edit {
    margin-left: 248px;
    margin-top: 29px;
    font-size: 13px;
    padding: 6px 10px;
  }
  .hero__list::after {
    position: absolute;
    left: 468px;
  }
  .hero__box-2 {
    padding: 3px 23px;
    width: 468px;
  }
  .hero__text {
    font-size: 20px;
  }
  .hero__spn-2 {
    font-size: 15px;
  } 
  .hero_text-abutech {
    font-size: 16px;
    margin: 1px;
    color: darkgray;
  }
  .hero_text-abutech-link {
    font-size: 16px;
    padding-left: 20px;
  }
  .hero__spn-lokatsiya {
    font-size: 16px;
  }
  .hero__link-bobur {
    font-size: 15px;
    margin-left: -6px;
  }
  .hero__span-yil {
    padding-left: 4px;
    font-size: 13px;
    font-weight: 500;
  }
  .hero__spn-kun {
    font-size: 16px;
  }
  .hero__class {
    font-size: 17px;
  }
  .hero__class-strongg {
    font-size: 17px;
  }
  .hero__class-strong {
    font-size: 17px;
  }
  .hero__item {
    font-size: 16px;
  }
  .hero__list {
    max-width: 469px;
  }
  .hero__box-reference {
    max-width: 468px;
  }
  .hero__text-bobor {
    font-size: 16px;
  }
  .hero__text-name {
    font-size: 17px;
  } 
  .hero__spn-name {
    font-size: 16px;
  }
  .hero__imgg {
    width: 286px;
    height: auto;
    margin-top: 20px;
  }
  .menu-list {
    max-width: 466px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 2px;
  }
  .hero__inner {
    max-width: 211px;
  }
  .hero__spn {
    font-size: 15px;
  }
  .hero__link-bobur {
    font-size: 15px;
    margin-left: -11px;
  }
}

@include breakpoint-down(559px) {
  .hero {
    margin-left: 118px;
  }
}

@include breakpoint-down(547px) {
  .hero {
    margin-left: 106px;
  }
  .hero__img-bobur {
    width: 427px;
    height: auto;
  }
  .hero__btn-edit {
    margin-left: 207px;
    margin-top: 29px;
    font-size: 13px;
    padding: 2px 10px;
  }
  .hero__list::after {
    position: absolute;
    left: 427px;
  }
  .hero {
    margin-left: 126px;
  }
  .hero__box-2 {
    padding: 3px 23px;
    width: 365px;
  }
  .hero__span-yil {
    padding-left: 1px;
    font-size: 15px;
    font-weight: 500;
  }
  .hero__list {
    max-width: 427px;
  }
  .hero__box-reference {
    padding: 15px 25px;
    border-bottom: 2px solid #c9c8c8;
    max-width: 427px;
  }
  .hero__imgg {
    width: 268px;
    height: auto;
    margin-top: 20px; 
  }
  .menu-list {
    max-width: 425px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 2px;
  }
}   

@include breakpoint-down(514px) {
  .hero {
    margin-left: 112px;
  }
}

@include breakpoint-down(499px) {
  .hero__img-bobur {
    width: 386px;
    height: auto;
  }
  .hero__btn-edit {
    margin-left: 169px;
    margin-top: 29px;
    font-size: 13px;
    padding: 2px 10px;
  }
  .hero__list::after {
    position: absolute;
    left: 386px;
  }
  .hero__list {
    max-width: 386px;
  }
  .hero__item:nth-child(1) {
    font-size: 17px;
  }
  .hero__box-reference {
    padding: 15px 25px;
    border-bottom: 2px solid #c9c8c8;
    max-width: 387px;
  } 
  .hero__imgg {
    width: 238px;
    height: auto;
    margin-top: 20px;
  }
  .hero__img-personal {
    width: 84px;
    height: auto;
  }
  .hero__img-person {
      width: 51px;
      height: 48px;
  }
  .menu-list {
    max-width: 384px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 2px;
  }
}

@include breakpoint-down(461px) {
  .hero__text-bobor {
    margin-left: -67px;
    font-size: 16px;
    width: 255px;
    text-align: center;
  }
  .hero__img-bobur {
    width: 319px;
    height: auto;
  }
  .hero__btn-edit {
    margin-left: 108px;
    margin-top: 29px;
    font-size: 13px;
    padding: 2px 10px;
  }
  .hero__list::after {
    position: absolute;
    left: 319px;
  }
  .hero__list {
    max-width: 320px;
  }
  .hero__item {
    font-size: 14px;
  }
  .hero__item:nth-child(1) {
    font-size: 16px;
  }   
  .hero__box-reference {
    padding: 15px 13px;
    border-bottom: 2px solid #c9c8c8;
    max-width: 320px;
  }
  .hero__spn-name {
    font-size: 14px;
  }
  .hero__imgg {
    width: 181px;
    height: auto;
    margin-top: 20px;
  }
  .menu-list {
    max-width: 316px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 2px;
  }
  .hero__box-2 {
    padding: 3px 23px;
    width: 319px;
  }
  
}

// @include breakpoint-down(461px) {
//   .hero {
//     margin-left: 112px;
//   }
// }

@include breakpoint-down(460px) {
 
  .hero__img-bobur {
    width: 287px;
    height: auto;
  }
  .hero__list::after {
    position: absolute;
    left: 286px;
  }
  .hero__btn-edit {
    margin-left: 83px;
  }
  .hero__box-2 {
    padding: 3px 10px;
    width: 284px;
  }
  .hero__list {
    max-width: 287px;
  }
  .hero__item:nth-child(1) {
    font-size: 14px;
  }
  .hero__box-reference {
    padding: 15px 13px;
    border-bottom: 2px solid #c9c8c8;
    max-width: 288px;
  }
  .menu-list {
    max-width: 284px;
  }
  .hero__item-3 {
    width: 180px;
  }
  .hero__imgg {
    width: 145px;
    height: auto;
    margin-top: 20px;
  }
  .hero__text-name {
    max-width: 105px;
    font-size: 17px;
  }
  .hero {
    margin-left: 123px;
  }
}

@include breakpoint-down(360px) {
  .hero {
    margin-left: 101px;
  }
  
  
}


@include breakpoint-down(355px) {
  .hero__box-2 {
    padding: 3px 8px;
    width: 284px;
  }
  .container {
    padding: 0 0;
  }
  .hero {
    margin-left: 116px;
  }
}


@include breakpoint-down(333px) {
  .hero {
    margin-left: 110px;
  }
}
// .center__tweet-item {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-pack: justify;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   line-height: 21px;
//   color: #536471;
//   cursor: pointer;
// }