.site-main {
  display: block;
}

.qwer {
  padding-left: 25px;
}


.hero {
  max-width: 851px;
  padding: 5px 0 20px 0;
  margin-left: auto;
  margin-right: auto;
}




.hero__inner {
  max-width: 577px;
  padding-top: 32px;
  padding: 15px 0 20px 0;
  padding-left: 33px;
  display: flex;
  align-items: center;
  // display: block;
}  

.hero__box {
  margin-top: -12px;
  padding-left: 16px;
}

.hero__strong {
  display: block;
}

.hero__spn {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
  display: block;
}


.hero__img-bobur {
  margin-top: -10px;
}

.hero__img {
  display: block;
  cursor: pointer;
  margin-left: -15px;
  transition: all 0.5s ease;
}

.hero__img:hover {
  transform: scale(1.2);
}

.hero__btn {
  background-color: transparent;
  border: none;
}

.hero__img-personal {
  margin-top: -82px;
  margin-left: 20px;
}

.hero__btn-edit {
  position: relative;
  top: -26px;
  margin-left: 532px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: transparent;
  border-radius: 25px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border: 2px solid rgb(139, 139, 139);
}


.hero__box-2 {
  padding: 0 25px;
}

.hero__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin: 0;
}

.hero__spn-2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
}

.hero_text-abutech {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.hero_text-abutech-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1DA1F2;
}

.hero__spn-lokatsiya {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  position: relative;
  padding-left: 21px;
}

.hero__spn-lokatsiya::before {
  background-image: url("../img/Group.svg");
  background-repeat: no-repeat;
  content: "";
  width: 18px;
  height: 20px;
  position: absolute;
  left: 0;
}

.hero__link-bobur {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1DA1F2;
  position: relative;
  padding-left: 47px;
}

.hero__link-bobur::before {
  position: absolute;
  top: 2px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-image: url("../../img/Group\(2\).svg");
  background-repeat: no-repeat;
  content: "";
}

.hero__span-yil {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  padding-left: 39px;
  position: relative;
}

.hero__span-yil::before {
  position: absolute;
  top: 2px;
  left: 15px;
  width: 18px;
  height: 20px;
  background-image: url("../../img/Group\(3\).svg");
  background-repeat: no-repeat;
  content: "";
  opacity: 0.6;
}

.hero__spn-kun {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  padding-left: 53px;
  position: relative;
}

.hero__spn-kun::before {
  position: absolute;
  width: 21px;
  height: 20px;
  background-image: url("../../img/Group1.svg");
  background-repeat: no-repeat;
  content: "";
  top: 2px;
  left: 25px;
}

.hero__class {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
  padding-left: 5px;
}

.hero__class-strong {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.qwerty {
  display: flex;
}

.hero__class-strongg {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-left: 25px;
}




.hero__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid rgb(184, 184, 184);
  max-width: 850px;
  margin-top: 20px;
  position: relative;
}

.hero__list::before {
  position: absolute;
  left: 0;
  top: -648px;
  content: "";
  height: 1021px;
  border-left: 1px solid rgb(182, 182, 182);
  border-right: 1px solid rgb(182, 182, 182);
  background-color: rgb(182, 182, 182);
}

.hero__list::after {
  position: absolute;
  left: 849px;
  top: -679px;
  content: "";
  height: 1056px;
  border-left: 1px solid #b6b6b6;
  border-right: 1px solid #b6b6b6;
  background-color: #b6b6b6;
}




.hero__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}



.hero__item:nth-child(1) {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border-bottom: 5px solid #1DA1F2;
  padding-bottom: 10px;
  border-radius: 3px;
}



.hero__box-reference {
  padding: 15px 25px;
  border-bottom: 2px solid rgb(201, 200, 200);
  max-width: 850px;
}


.hero__box-pinned {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #536471;
  padding-left: 60px;
}

.hero__box-1 {
  margin-top: 15px;
  display: flex;
}

.hero__text-name {
  max-width: 280px;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  display: flex;
  margin: 0;
}

.hero__spn-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6; 
  padding-left: 10px;
  display: flex;
  align-items: center;
}


.hero__box-zamitka {
  margin-left: 20px;
}

.hero__text-bobor {
  max-width: 690px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-top: 5px;
}

.hero__item-2 {
  max-width: 800px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}

.hero__list-img:hover {
  cursor: pointer;
  filter: invert(17%) sepia(80%) saturate(6662%) hue-rotate(357deg) brightness(95%) contrast(113%);
}

.hero__list-2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #0CB345;
}

.hero__imgg {
  margin-top: 20px;
}

.hero__item-3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(187, 187, 187);
}



.menu {
  height: 50px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  align-items: center;
  background-color: #ffffff;
  display: none;
  width: 840px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  margin-left: 8px;
  bottom: 0;
}

